@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
    font-family: "quran"; 
    src: url("../../public/font/quran.ttf"); 
} 
@font-face { 
    font-family: "quran2"; 
    src: url("../../public/font/quran2.ttf"); 
} 
@font-face { 
    font-family: "quran3"; 
    src: url("../../public/font/quran3.ttf"); 
} 
@font-face { 
    font-family: "quran4"; 
    src: url("../../public/font/quran4.ttf"); 
} 
@font-face { 
    font-family: "quran5"; 
    src: url("../../public/font/quran5.ttf"); 
} 