@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
    font-family: "quran"; 
    src: url("../../public/font/quran.ttf"); 
} 
@font-face { 
    font-family: "quran2"; 
    src: url("../../public/font/quran2.ttf"); 
} 
@font-face { 
    font-family: "quran3"; 
    src: url("../../public/font/quran3.ttf"); 
} 
@font-face { 
    font-family: "quran4"; 
    src: url("../../public/font/quran4.ttf"); 
} 
@font-face { 
    font-family: "quran5"; 
    src: url("../../public/font/quran5.ttf"); 
} 
body{
    background: #F8F8FF;
}.even-index {
    order: -1; /* Bild mit geradem Index wird links angezeigt */
}

.odd-index {
    order: 1; /* Bild mit ungeradem Index wird rechts angezeigt */
}